/**============================================
 **               Colors
 *=============================================**/
// layout & text
$color-text: #fff;
$color-text_dimmed: #999;
$color-layout_background: #121212;
$color-layout_container: #23252e;

// giphy scheme
$color-giphy_1: #05ff8e;
$color-giphy_2: #fff152;
$color-giphy_3: #ff5b5b;
$color-giphy_4: #8e2eff;
$color-giphy_5: #00c5ff;
